{% extends "layout.html" %}

{% block body %}
<h3>Blacklist</h3>
<p><b>Tracks:</b></p>
{% for i in name %}
<hr size="1">
<a href="/get_bl_info?song={{ i.track_id }}">{{ i }}</a>
<a href="/blacklist_remove_song?song={{ i.track_id }}"><button>Remove</button></a>
{% endfor %}
<hr size="6" color="gray">
<p><b>Genres:</b></p>
{% for i in name._genres_data %}
<hr size="1">
{{ i }}
<a href="/blacklist_remove_genre?song={{ i }}"><button>Remove</button></a>
{% endfor %}
<hr size="6" color="gray">
<p><b>Artists:</b></p>
{% for i in name._artist_data %}
<hr size="1">
{{ i }}
<a href="/blacklist_remove_artist?song={{ i }}"><button>Remove</button></a>
{% endfor %}
{% endblock %}
