{% extends "layout.html" %}

{% block body %}
<h3>Playlist</h3>
    <form action="/playlist_clear" method="post">
            <button>Clear all</button>
            <p></p>
    </form>
    <form action="/find_by_playlist" method="post">
            <button>Find tracks by your playlist</button>
    </form>
    <p><b>Your tracks:</b></p>
    {% for i in name %}
        <hr size="1">
        <a href="/get_pl_info?song={{ i.track_id }}">{{ i }}</a>
        <a href="/playlist_remove?song={{ i.track_id }}"><button>Remove</button></a>
    {% endfor %}
{% endblock %}
