{% extends "index.html" %}

{% block body %}
{% for i in name %}
<p>
    <a name="track" href="/get_info?song={{ i }}">{{ i }}</a>
    <a href="/playlist_add_static?song={{ i }}">
        <button><img src="http://www.stickpng.com/assets/images/588a64e7d06f6719692a2d11.png" width="14" height="14" > Add to playlist</button>
    </a>
    <a href="/blacklist_add_static?song={{ i }}">
        <button>Add to blacklist</button>
    </a>
    <a href="/blacklist_add_genre_static?song={{ i }}">
        <button>Add genre to blacklist</button>
    </a>
    <a href="/blacklist_add_artist_static?song={{ i }}">
        <button>Add artist to blacklist</button>
    </a>
</p>
<p><b>Genre:</b> {{ i.genre }}</p>
<hr size="1">
{% endfor %}
{% endblock %}
